/* .App {
  text-align: left;
} */

.top-container {
  text-align: left;
  border: 1px solid #ddd;
  color: rgb(83, 80, 80);
  background-color: rgb(224, 220, 220);
}

.top-container h3 {
  margin-left: 50px;
}

.footer {
  text-align: center;
  color: rgb(83, 80, 80);
  border: 1px solid #ddd;
  background-color: chartreuse;
}
